body {
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
    margin-left: 20px;
    margin-right: 20px;
}


/*---------------TEKST------------------*/

P {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2em;
}

h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.3vw;
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 8%;
    font-size: 2em;
    letter-spacing: 0.2vw;
}


/*---------------BAGGRUND------------------*/


/**********Splash*******************/

#splash {
    background-image: url(image/mobil_portait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 167vw;
}


/*mobil_landscape*/

@media screen and (min-width: 376px) and (max-width: 627px) and (orientation:landscape) {
    body {}
    #splash {
        background-image: url(image/mobil_landcape.jpg) height: 60vw;
    }
}


/*tablet protrait*/

@media screen and (min-width: 376px) {
    body {}
    #splash {
        background-image: url(image/ipad.jpg);
        background-size: cover;
        height: 133vw;
    }
}


/*tablet landcape*/

@media screen and (min-width: 628px) and (max-width: 1024px) and (orientation:landscape) {
    body {}
    #splash {
        background-image: url(image/ipad_landcape.jpg);
        background-size: contain;
        background-position: center;
        height: 75vw;
    }
}


/*desktop*/

@media screen and (min-width: 1025px) and (orientation:landscape) {
    body {}
    #splash {
        background-image: url(image/desktop.jpg);
        background-size: cover;
        height: 56vw;
        text-align: center;
    }
}


/*desktop retina*/

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1025px),
screen and (min-resolution: 192dpi) and (min-width: 1025px) {
    /* Retina-specific stuff here */
    #splash {
        background-image: url(image/desktop_retina.jpg);
        background-size: cover;
        height: 56vw;
    }
}


/*********Splash slut**********/


/*------------------  menu  --------------*/

#menu {
    background-color: #ffffff;
    z-index: 99999;
    border-bottom-color: darkgrey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    position: relative;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 70;
}

.dropdown-content a:hover,
.dropdown-content a:focus {}

.dropdown {
    position: relative;
    display: inline-block;
    color: white;
}

.dropdown {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.dropdown:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#menu img {}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    font-family: 'Merriweather Sans', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/**************ABOUT***********/

#about2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

#about2 .text_sprite1 {
    width: 40%;
    flex-basis: 300px;
    justify-content: center;
    border-style: solid;
    border-color: #373737;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#about2 .text_sprite2 {
    width: 40%;
    flex-basis: 300px;
    justify-content: center;
    border-style: solid;
    border-color: #373737;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#about2 .text_sprite2 img {
    width: 100%;
    height: 100%;
    flex-basis: 300px;
}


/*************PORTFOILIO*******/


/*************ARTANDCRAFT*******/

#anc .column_content img {
    height: 100%;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 80px rgba(0, 0, 0, .5);
}

#anc p {
    text-align: left;
    width: 60%;
    margin: auto;
    margin-top: 12px;
    padding-bottom: 50px;
}

div.style a {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    margin: auto;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

#anc .column_content {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
}


/*************ARTANDCRAFT2*******/

#splash img {
    width: 100%;
    height: 18vw;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

#splash {
    padding-bottom: 50px;
}

#vaerktoj P {
    margin-left: 150px;
}

#vaerktoj .column1 img {
    width: 40%;
    height: 100%;
    margin-left: 150px;
}

#om img {
    width: 90%;
    margin: auto;
    height: auto;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

#om .column {
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left: 150px;
    text-align: left;
    margin-right: 150px;
}

#om {
    text-align: center;
}


/*************STILETYLE*******/

#stiletyle img {
    width: 70%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

#stiletyle .sectionwrapper {
    flex-basis: 400px;
    flex-grow: 1;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: left;
}

#stiletyle {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 50px;
}


/*************TEKST*******/

#tekst .column {
    margin-left: 150px;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-right: 50px;
}

#procesdok {
    margin-left: 41px;
    margin-top: 50px;
}


/*************SLUT*******/

#procesdok {
    margin-left: 150px;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-right: 50px;
}

#final img {
    width: 60%;
    height: auto;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

#final {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}


/*************PRVIDEO*******/

#prvideo p {
    text-align: left;
    width: 60%;
    margin: auto;
    margin-top: 12px;
    padding-bottom: 50px;
}

#prvideo .column_content img {
    height: 100%;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 80px rgba(0, 0, 0, .5);
}

#prvideo .column_content {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
}


/*************PRVIDEO2*******/

#om2 .column {
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left: 150px;
    text-align: left;
    margin-right: 150px;
}

#om2 {
    text-align: center;
}

#opgave img {
    width: 70%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

#opgave .sectionwrapper {
    flex-basis: 400px;
    flex-grow: 1;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: left;
}

#opgave {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 50px;
}

#final2 iframe {
    width: 90%;
    flex-basis: 422px;
    flex-grow: 1;
}

#final2 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}


/*************REDESIGN*******/

#redesign p {
    text-align: left;
    width: 60%;
    margin: auto;
    margin-top: 12px;
    padding-bottom: 50px;
}

#redesign .column_content img {
    height: 100%;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 80px rgba(0, 0, 0, .5);
}

#redesign .column_content {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
}


/*************REDESIGN2*******/

#om4 P {
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
}

#om4 img {
    width: 60vw;
}

#om4 {
    text-align: center;
}

#vaerktoj4 P {
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
}

#vaerktoj4 img {
    width: 40%;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
}

#vaerktoj4 {
    text-align: left;
}

#tekst4 .column {
    text-align: left;
    margin-left: 200px;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-right: 200px;
}


/*************CPHDOX*******/

#cphdox p {
    text-align: left;
    width: 60%;
    margin: auto;
    margin-top: 12px;
    padding-bottom: 50px;
}

#cphdox .column_content img {
    height: 100%;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 80px rgba(0, 0, 0, .5);
}

#cphdox .column_content {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
}


/*************CPHDOX2*******/

#falster1 img {
    width: 60%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

#falster1 .sectionwrapper {
    flex-basis: 400px;
    flex-grow: 1;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: left;
}

#falster1 {
    text-align: center;
}

#falster1 p {
    text-align: left;
    width: 60%;
    margin: auto;
}

#om3 p {}


/*************ANIMATION*******/

#animation p {
    text-align: left;
    width: 60%;
    margin: auto;
    margin-top: 12px;
    padding-bottom: 50px;
}

#animation .column_content img {
    height: 100%;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 80px rgba(0, 0, 0, .5);
}

#animation .column_content {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
}

#om3 .column {
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left: 150px;
    text-align: left;
    margin-right: 150px;
}


/*************ANIMATION2*******/

#vaerktoj6 img {
    width: 50%;
    height: 100%;
}

#vaerktoj6 {
    margin-left: 50px;
}

#opgave6 img {
    width: 50%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

#opgave6 {
    margin-left: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
}

#sprite {
    margin-left: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
}

#sprite img {
    width: 100%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}


/*************FEDEFINN*******/

#fedefinn p {
    text-align: left;
    width: 60%;
    margin: auto;
    margin-top: 12px;
    padding-bottom: 50px;
}

#fedefinn .column_content img {
    height: 100%;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 80px rgba(0, 0, 0, .5);
}

#fedefinn .column_content {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
}


/*************FEDEFINN2*******/

#finn P {
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#finn img {
    width: 40%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 80px rgba(0, 0, 0, .5);
}

#finn {
    text-align: center;
}

#vaerktoj5 P {
    margin-left: 200px;
    margin-right: 200px;
}

#vaerktoj5 img {
    width: 50%;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 60px;
}


/*************KEAN*******/

#kean p {
    text-align: left;
    width: 60%;
    margin: auto;
    margin-top: 12px;
    padding-bottom: 50px;
}

#kean .column_content img {
    height: 100%;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 80px rgba(0, 0, 0, .5);
}

#kean .column_content {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
}


/*************KEAN2*******/

#vaerktoj7 img {
    width: 50%;
    height: 100%;
}

#vaerktoj7 {
    margin-left: 50px;
    margin-bottom: 50px;
}

#opgave6 img {
    width: 50%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

#opgave7 img {
    width: 50%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

#opgave7 p {
    text-align-last: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

#opgave7 h3 {
    text-align-last: center;
    margin-left: 50px;
    margin-right: 50px;
}

#proto p {
    text-align-last: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

#proto h3 {
    text-align-last: center;
    margin-left: 50px;
    margin-right: 50px;
}

#opgave7 .billede {
    text-align: center;
}

#proto img {
    width: 30vw;
    margin-top: 20px;
    margin-bottom: 20px;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

#proto .billede {
    text-align: center;
}

#final7 img {
    width: 40vw;
    height: auto;
    margin-top: 20px;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

#final7 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}


/*************REPUBLIKKEN*******/

#republikken p {
    text-align: left;
    width: 60%;
    margin: auto;
    margin-top: 12px;
    padding-bottom: 50px;
}

#republikken .column_content img {
    height: 100%;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 80px rgba(0, 0, 0, .5);
}

#republikken .column_content {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
}


/******FOOTER*******/

footer {
    z-index: 99999;
    border-bottom-color: darkgrey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-top: 60px;
}

footer img {
    width: 40%;
}
